* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple-dark: #170312;
  --purple-medium: #33032d;
  --purple-light: #531253;
  --gray-light: #eaeaea;
  --white: #f4fffd;
}

body {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

p {
  font-size: 22px;
}

/* _____________________________ */
/*  Header*/
/* ------------------------------ */
.contenido-header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/bg-girl.jpeg);
  /*propiedades q se usan con bacground img, n sirve objet-fit*/
  background-position: center; /*centra la img*/
  background-size: cover; /*acomodala en el contendeor*/
  background-attachment: fixed; /*ponla de fondo(parallax)*/

}

/*Las maticas verdes*/
.contenido-header .fondo {
  /*  width: 100%; */ /*la modificare cn js*/
  width: 0;
  height: 100%;
  max-width: 95%;
  background-image: url(../img/bg-top.png);

}

.contenido-header .texto {
  /*para q el texto n se mueva, le voy a decir q no sea el 100% del contenedor(.fondo) sino q sea el 100 de la pantalla; aplicandole las medidas "vw"*/
  /*  width: 100%; */
  /* width: 100vw; */ /*haciendo esto me salio un scroll, pq le dije q fuera mas ancho q su contendor, entnce le agrego la siguiente propiedad*/
  width: calc(100vw - 1.5rem);/*si le doy el 100 al vw hago scroll en pantall de cell*/
  height: 100vh;
  /*   background: rgba(0, 0, 0, 0.5); */ /*opaca todo el encabezado*/
  font-size: 4.5rem;
  font-weight: 400;
  font-family: "Noto Serif", serif;
  font-style: italic;

  /*cuando este en pantallas de tlf tomara esto en cuanta*/
  text-align: center;



  /*cetrare el texto*/
  display: flex;
  justify-content: center;
  align-items: center;
  color: purple;
  mix-blend-mode: multiply; /*le da intensidad y tr5ansparecia al color en relacion con su fondo*/
  
}

/* _____________________________ */
/*  Navar*/
/* ------------------------------ */

.menu {
  background-color: var(--purple-medium);
  width: 100%;

  /*se quede fijo cuando llegue al top*/
  position: sticky;
  top: 0;

  /*por si uso algun slider*/
  z-index: 999;

  /*centro los items*/
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-family: "Noto Serif", serif;
  font-style: italic;
  padding: .7rem .1rem;
  margin-bottom: 3rem;

}

.menu a {
  display: felx; /*para q se mantega en linea pero tomer los estilos*/
/*   padding: .5rem 1rem; */
justify-content: space-between;
padding: .5rem .5rem .5rem .5rem;
  font-size: 1.1rem;
  background-color: var(--purple-medium);
  margin: 0 .5rem;
  transition: 0.5s ease all;
  color: var(--gray-light);
  text-decoration: none;
  overflow-x: hidden;
  text-align: center;
  box-sizing: border-box;
}

.menu a:hover {
  transform: translateY(.9rem);
  background-color: var(--purple-light);
  overflow-x: hidden;
}

/* _____________________________ */
/*  Nosotros*/
/* ------------------------------ */

.nosotros {
  margin-bottom: 60px;
}

.subtitulo {
  font-size: 20px;
  color: var(--purple-dark);
  font-family: "Noto Serif", serif;
  font-weight: 700;
  z-index: 2;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subtitulo span {
  background-color: var(--gray-light);
  padding: 0 15px;
  /*position relative para q el z index se pueda aplicar, de otra formna n o lop tomaria*/
  z-index: 99;
  position: relative;
}

.subtitulo::after {
  content: ""; /*aparece una raya*/
  /*para q la raya se vea*/
  display: inline-block;
  height: 2px;
  width: 100%;
  background-color: var(--purple-dark);
  position: relative;
  top: -29px;
  z-index: 1;
}

.nosotros .titulo {
  width: 70%;
  font-size: 44px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 50px;
}

.nosotros .enlace {
  display: inline-block;
  margin-top: 40px;
  color: var(--purple-light);
  font-weight: 700;
  border-bottom: 1px solid transparent;
  transition: 0.3s ease all;
}
.nosotros .enlace:hover {
  text-decoration: none;
  letter-spacing: 3px;
  border-bottom: 1px solid var(--purple-light);
}

/* _____________________________ */
/*  Productos*/
/* ------------------------------ */
.productos {
  background: var(--gray-light);
  padding: 20px;
  margin-bottom: 60px;
}

.productos .titulo {
  width: 70%;
  font-size: 44px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 50px;
}

.productos .producto {
  position: relative;
  width: 100%;
}

.productos .overlay {
  width: 0%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--purple-light);
  overflow: hidden;
  transition: 0.5s ease;
}

.productos .producto:hover .overlay {
  width: 100%;
  opacity: 0.8;
}

.productos .producto .overlay-texto {
  top: 50%;
  left: 50%;
  position: absolute;
  white-space: nowrap;
  color: var(--white);
  font-size: .8rem;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.productos .btn-productos {
  background-color: var(--purple-light);
  color: #fff;
  padding: 7px 20px;
  text-transform: uppercase;
  font-size: 16px;
  border: 2px solid transparent;
}

.productos .btn-productos:hover {
  background-color: transparent;
  border: 2px solid var(--purple-light);
  color: var(--purple-light);
}

/* _____________________________ */
/*  Separador Parallax*/
/* ------------------------------ */
.separador {
  width: 100%;
  height: 250px;
  background-image: url(../img/bg-separator.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 60px;
}

.separador p {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-family: "Noto Serif", serif;
  padding: 10px;
}

/* _____________________________ */
/* Acerca de*/
/* ------------------------------ */
.acerca-de {
  margin-bottom: 60px;
}

/* _____________________________ */
/* Acerca de*/
/* ------------------------------ */
.galeria {
  margin-bottom: 60px;
}

.galeria img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.contacto {
  margin-bottom: 60px;
}

/* _____________________________ */
/* Footer*/
/* ------------------------------ */
.redes-sociales{
   padding: 10px;
  background-color: var(--purple-light);
}

.redes-sociales img{
   padding: 5px;
   border-radius: 100%;
   width: 50px;
   transition: .3s ease all;
}

.redes-sociales img:hover{
   transform: scale(1.2);
}

/* _____________________________ */
/* Mediaqueries*/
/* ------------------------------ */

@media screen and (max-width: 992px){
   p{
      font-size: 18px;
   }

   .contenido-header .texto {
font-size: 3rem;
   }
   .nosotros .titulo,
   .productos .titulo{
      font-size: 30px;
   }

}

